<!DOCTYPE html>
    <head>
        <title>Buildr</title>
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
    <body style='padding-top: 75px;'>
        {% include "_nav.html" %}
        <div class='container'>
            {% include "_status.html" %}
            <h1>Buildr</h1>
            {% block body %}{% endblock %}
        </div>
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        {% block inline_javascript %}
        {% endblock %}
    </body>
</html>