{% extends "layout.html" %}
{% block body %}
<table class='table table-striped table-bordered table-hover'>
    <thead>
        <th>Repository</th>
        <th>Tag</th>
        <th>ID (Long)</th>
        <th>Created</th>
        <th>Actions</th>
    </thead>
    <tbody>
    {% for image in images %}
        <tr>
            {% if not image['Repository'] %}
            <td> &gt;none&lt; </td>
            {% else %}
            <td>{{ image['Repository'] }}</td>
            {% endif %}
            {% if not image['tag'] %}
            <td> &gt;none&lt; </td>
            {% else %}
            <td>{{ image['tag'] }}</td>
            {% endif %}
            <td>{{ image['Id'][0:11] }}</td>
            <td>{{ image['Created'] }}</td>
            {% if not image['Repository'] %}
            <td></td>
            {% else %}
            <td>
                <button class='btn btn-xs btn-danger' href='#' type='button'> Remove</button>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}