<!DOCTYPE html>
    <head>
        <title>Buildr</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    </head>
    <body style='padding-top: 75px;'>
        {% include "nav.html" %}
        <div class='container'>
        {% for message in get_flashed_messages() %}
            <span>{{ message }}</span>
        {% endfor %}
            <h1>Buildr</h1>
            {% block body %}{% endblock %}
        </div>
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        {% block inline_javascript %}
        {% endblock %}
    </body>
</html>